.schedule {
    width: 9rem;
    background-image: url('../public/side-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:  #ffffff;
    margin-top: -1.5rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .schedule-item {
    margin-right: 0.8rem;
    text-align: right;
  }
  .schedule-item div:first-child {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .schedule-item div:last-child {
    line-height: 3rem;
    font-size: 3rem;
  }
  